<div class="container p-5">

  <h2 class=" badge bg-info" (click)="changeTab(currentTab == 'login' ? 'signup' : 'login')"> Change tab to {{currentTab == 'login' ? 'signup' :
    'login'}}</h2>

  <br>
  <h2 class="bg-warning mt-3">Current tab is {{currentTab}}</h2>
  <hr class="w-100">
  <form>
    <div class="form-group" [ngStyle]="{'display': currentTab == 'signup' ? 'block' : 'none'}">
      <label for="username">User Name</label>
      <input type="text" #username class="form-control" id="username" aria-describedby="username"
        placeholder="Enter User Name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" #email class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" #password class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <button type="button" (click)="pushValuesInObject({username:username?.value,email:email.value,password:password.value})"  class="btn btn-primary mt-4">Submit</button>
  
  </form>
</div>