<div class="product-container">
  <div *ngFor="let item of displayedShops">
    <!-- Add *ngIf to a wrapper div -->
    <div class="product" *ngIf="item.id">
      <div class="box d-flex flex-column">
        <a href="">
          <div class="img-box">
            <img [src]="item.image" [alt]="item.title">
          </div>
          <div class="detail-box">
            <h6>
              {{ item.title }}
            </h6>
            <h6>
              Price
              <span>
                ${{ item.price }}
              </span>
            </h6>
          </div>

        </a>
      </div>
    </div>
  </div>
  <div>
    <a class="btn-box mb-3px">
      <button (click)="toogleViewAll()">
        {{isVisible ? 'show Less': 'View All Products' }}

      </button>


    </a>
  </div>


</div>